body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  }

h1{
    font-size: 40pt;
    color: #006BAC
}
p{
    font-size: 16pt;
}

.debugArea{
    background-color: rgb(156, 156, 156);
    text-align: center;
    padding: 20px;
    width: auto;
    border: 1px dashed black;
    border-radius: 10px;
}