body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  }

h1{
    font-size: 40pt;
    color: #006BAC
}
p{
    font-size: 16pt;
}

.debugArea{
    background-color: lightseagreen;
    width: 50%;
    margin: 50px auto;
}

.actions{
    color: gray;
    border: 1px dashed black;
    display: flex;
    flex-direction: column;
    align-items: center;
  }